@font-face {
    font-family: Code;
    src: url('font/SourceCodePro.ttf');
}

:root {
    /* Colours */
    --background: #01030a;
    --box-background: #0f1115;
    --box-border: #eee;
    --text: #e8e8e8;
    --greyed-text: #888;

    /* Light Hues */
    --red: #faa;
    --orange: #fda;
    --yellow: #ffa;
    --lime: #dfa;
    --green: #afa;
    --teal: #afd;
    --sky: #aff;
    --blue: #adf;
    --indigo: #aaf;
    --magenta: #daf;
    --rose: #faf;
    --pink: #fad;

    /* Shaded Hues */
    --red-shade: #733;
    --orange-shade: #753;
    --yellow-shade: #773;
    --lime-shade: #573;
    --green-shade: #373;
    --teal-shade: #375;
    --sky-shade: #377;
    --blue-shade: #357;
    --indigo-shade: #337;
    --magenta-shade: #537;
    --rose-shade: #737;
    --pink-shade: #735;

    /* Default accent if not specified */
    --accent: var(--red);
}


html {
    background-color: var(--background);
}

body {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    text-align: center;

    color: var(--text);
}

body>* {
    font-family: Code;
}

input {
    font-size: 16pt;
    width: 400px;
}

input:focus {
    border-color: var(--accent);
    outline: 0;
}

.buttonify {
    display: inline-block;
}

button,
.buttonify {
    font-size: 16pt;
}

button:hover,
.buttonify:hover {
    background-color: var(--box-border);
    color: var(--box-background);
}

input,
button,
input::file-selector-button,
.bordered {
    background-color: var(--box-background);
    border-radius: 10px;
    border-color: var(--box-border);
    border-style: solid;

    color: inherit;
}

pre {
    font-size: 16pt;
    font-weight: 600;
}


hr {
    color: var(--box-border);
    margin: 15px;
    border-style: solid;
}

h1 {
    font-size: 36pt;
    margin-bottom: 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

small {
    color: var(--greyed-text);
}

a {
    font-size: 16pt;
    font-weight: 600;
    color: var(--text);
    text-decoration: none;
}

a:visited {
    color: var(--text);
}

.desc {
    margin: 10px;
}

#source {
    position: fixed;
    bottom: 0;
    right: 0;

    margin: 5px;
}